/Users/christopherhammers/Documents/GitHub/LicensePlateApp/LicensePlateAppiOS/LicensePlateApp/GoogleService-Info-Debug.plist
/Users/christopherhammers/Documents/GitHub/LicensePlateApp/LicensePlateAppiOS/LicensePlateApp/GoogleService-Info-Release.plist
/Users/christopherhammers/Documents/GitHub/LicensePlateApp/LicensePlateAppiOS/LicensePlateApp/GoogleService-Info.plist
