<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1YgFuNMqixzDfQMY1RH4hKKRB5Zvt6Bs</string>
	<key>GCM_SENDER_ID</key>
	<string>702314091240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.HammersTech.LicensePlateApp</string>
	<key>PROJECT_ID</key>
	<string>roadtrip-royale-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>roadtrip-royale-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:702314091240:ios:5d3302a5982eb6ecc22f5d</string>
</dict>
</plist>
