<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LicensePlateApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>765D54112EC391DA00D4FED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>765D54202EC391DC00D4FED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>765D542A2EC391DC00D4FED1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
